source: MYSOURCE
dataset: Mydataset
extract_date: "2021-09-17"
extract_type: full
# equal: "="; less_than: "<"; bigger_equal: ">="
date_type: equal 
environment: dev
# format: parquet, format: txt
format: parquet
separator: "\t"
tables:
  -
    name: table_a
    columns: "column_1,column_2,column_timestamp"
    date_column: "DATE(column_timestamp)"